<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Classification Web App</title>
</head>
<body>
    <h1>Audio Classification Web App</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".wav, .mp3">
        <input type="submit" value="Upload and Classify">
    </form>
</body>
</html>
